<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="recursos/css/master.css">
   <title>Inicio</title>
</head>

<body>
   <ul class="menu">
      <li><a href="consulta">consulta</a></li>
      <li><a href="registro">registro</a></li>
   </ul>
</body>

</html>