<!-- <!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
   <div id="app">
      <h1>CREAR USUARIO</h1>
      <form action="">
         <label for="names">
            Nombre
            <input name="" id="names" />
         </label><br>
         <label for="email">
            email
            <input name="" id="email" />
         </label><br>
         <label for="password">
            password
            <input name="" id="password" />
         </label><br>
         <button id="botonregistro">Enviar datos</button>
      </form>
   </div>

   <!-- CONSULTAR USURIOS GET -->
<!-- <div id="app">
      <h1>CONSULTAR USUARIOS</h1>
      <div id="get"></div>
      <div>
         <button id="consulta">Consultar</button>
         <button id="borrar">borrar</button>
      </div>

   </div> -->
<!-- <script type="module" src="public/js/inde.js"></script> -->
<!-- <script src="public/js/index2.js"></script> -->

<!-- </body>
 -->
<!-- </html>  -->-->