<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Login Form Design One | Fazt</title>
   <link rel="stylesheet" href="/public/css/master.css">
</head>

<body>
   <div id="respuesta">
      <h1>hola</h1>
   </div>
</body>

</html>